QPushButton {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #00eed2, stop: 1 #00cdde);
	color: white;
	max-width: 100px;
	max-height: 50px;
	min-width: 100px;
	min-height: 50px;
}
